*{ margin:0; padding:0}
body{
        font-family: arial, sana-serif;
        background: black;
}
header{
        background: blue;;
        padding: 20px;
        display: flex;
        aling-items: center;
        justify-content: space-between;
}
header img{
        height: 50%;
}
nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
}
nav ul li{
        color: white;
        text-decoration: none;
        font-size: 16px;
        transtion: color 0.3s ease;
}
nav ul li a:hover{
        color: #ffcc00;
}   
section#noticias{
        width: 1100px;
        height: auto;
        margin: 0 auto;
        border: 1px solid blck;
}
section#noticias ul li{
        list-style: none;
        width: 350px;
        height: 350px;
        background: gray;
}
section#noticias img{
        text-align: center;
        height: 100%;
        width: 100%;
        box-sadow: 5px 0px 0px 0px #00000030;
}
section#noticias .categoria{
        text-align: center;
}
setion#noticaias h2{
        font-size: 35px;
        color: #333333;
        text-align: center;
}

        
                
        
                
